{
  'plugins': [
    [
      '@semantic-release/commit-analyzer', {
        'preset': 'conventionalcommits',
        'parserOpts': {
          'noteKeywords': [
            'BREAKING CHANGE',
            'BREAKING-CHANGE'
          ]
        }
      }
    ], [
      '@semantic-release/release-notes-generator', {
        'parserOpts': {
          'noteKeywords': [
            'BREAKING CHANGE',
            'BREAKING-CHANGE'
          ]
        }
      }
    ],
    '@semantic-release/changelog',
    '@semantic-release/github'
  ],
  'branches': [
    {
      'name': 'develop'
    }, {
      'name': 'release',
      'channel': 'channel-'
    }, {
      'name': 'pre-release',
      'channel': 'channel-',
      'prerelease': true
    }
  ]
}
